@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"] {
  display: none;
}

.btn {
  background-color: #f3b37c !important;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
